@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

body {
  font-family: "RobotoLocal";
}

img {
  width: 100%;
  height: auto;
}

